.profile-page{
    padding-bottom: 10%;
}

.cobroz-webapp-background{
    background-color: #F1F1F1;
}

/* PROFILE INFO CARD CSS */

.profile-info-card{
    background-color: white;
    margin: 10px;
    margin-bottom: 10%;
    margin-top: 20%;
    padding: 2%;
    border-radius: 20px;
}

.profile-name-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-name-bar .col-sm-9{
    padding-top: 5px;
}

.profile-photo{
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 300px;
    text-align: right;
    padding-right: 0%;
    border-radius: 50px;
}

.profile-photo img{
    width: 50%;
    
}

/*  BRO COMPONENT STYLE */

.bro-component{
    background-color: white;
    border-bottom: 1px solid black;    
    text-align: left;
}

.bro-component .col{
    padding-top: 15px;
}

.bro-component .bro-btn{
    text-align: center;
    padding-top: 15px;
}

.bro-component img{
    border-radius: 100%;
}

/*   POST COMPONENT CSS */

.profile-post-comp{
    background-color: white;
    margin: 0 10px;
    cursor: pointer;
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #0f0f0f;
    border-radius: 20px;
}

.profile-post-likes{
    display: flex;
}

/*  LAWYER INFO CARD CSS*/
.lawyer-info-card{
    background-color: white;
    border-radius: 20px;
    margin: 0 10px;
    padding: 5px;
}

.heading-info-card{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}